<div class="container">

<div class="mt-5">
 <h3 style="text-align: center;">Login Node 

 </h3>
<form id="formElem" method="post">

     <input type="email" class="form-control" name="email" value="armandozabala@gmail.com" placeholder="Tu email"><br>
     <input type="password"  class="form-control"  name="password" value="armando22" placeholder="Tu Password"><br>
     <div style="text-align: center">
 <input class="btn btn-primary" type="submit" value="Login">
     </div>
   


</form>
</div>

</div>


<script type="text/javascript">

  formElem.onsubmit = async (e) => {
    e.preventDefault();

    let response = await fetch('/api/signin', {
      method: 'POST',
      body: new FormData(formElem)
    });

    let result = await response.json();

    localStorage.setItem('token',result.token);
    console.log(result.message);
  };
  
</script>